METER_CAM_BIND_HOST=0.0.0.0
METER_CAM_PORT=8097
METER_CAM_ROOT=/srv/meter-cam
METER_CAM_API_KEY=change-me-upload-token
METER_CAM_TZ=Europe/Warsaw
METER_CAM_MAX_BYTES=5242880
METER_CAM_MIN_BYTES=2048
METER_CAM_ALLOWED_DEVICE_IDS=m5stack-timercam-water
